apiVersion: v1
kind: Service
metadata:
  name: user
  labels:
    app: user
spec:
  type: ClusterIP
  selector:
    app: user
  ports:
    - name: grpc
      port: 9090
      targetPort: grpc
    - name: http
      port: 8080
      targetPort: http
